* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
  background-color: #212121;
}
html {
  width: 100vw;
}

body {
  width: 100vw;
}

input {
  display: flex;
  text-align: center;
}

.main-container {
  display: flex;
  padding-top: 20px;
}
.left-container {
  width: 50vw;
  
}



.right-container {
  width: 50vw;

}
